<!-- ADD -->

<!DOCTYPE html>
<html>
    <head>
        <title>Ajouter un TODO</title>
    </head>
    <body class="container">
        <h1>Ajouter TODO</h1>
        <form method="POST" action="/todos">
            <input type="user" name="user" placeholder="user">
            <input type="message" name="message" placeholder="message">
            <button type="submit">Valider</button>
          </form>
    </body>
</html>