<!-- SHOW A TODO -->

<!DOCTYPE html>
<html>
    <head>
        <link href="../views/styles.css" rel="stylesheet" type="text/css">
        <title>TODO</title>
    </head>
    <body class="container">
        <h1>TODO</h1>
        <table>
            <tr>
                <td>User</td>
                <td>Todo</td>
                <td>Done</td>
            </tr>
            <tr>
                <td><%= user %></td>
                <td><%= message %></td>
                <td><%= complete %></td>
            </tr>
         </table>
    </body>
</html>